@model Lesson1Homework.Models.EmployeeView


<body>
    <hr />
    <a asp-action="Index" class="btn btn-success">К списку</a>
    <hr />


    <table border="1" width="80%" style="margin-left:auto; margin-right:auto">
        <tr>
            <td>Имя</td>
            <td>@Model.FirstName</td>
        </tr>

        <tr>
            <td>Отчество</td>
            <td>@Model.Patronymic</td>
        </tr>

        <tr>
            <td>Фамилия</td>
            <td>@Model.Surname</td>
        </tr>

        <tr>
            <td>Возраст</td>
            <td>@Model.Age</td>
        </tr>

    </table>

    @*<a href="/cancel/1" class="btn btn-default">Cancel</a>*@

</body>
